

body {
    background: #FFEEFF;
    font: normal 18px/1.5 "Montserrat", helvetica, arial, sans-serif;
  font weight:    normal;
  font-size:      18px;
  line-height:    1.5;
  font-family:    "Montserrat", helvetica, arial, sans-serif;
}


/****************************  NEW STYLE SHEET ****************************/
/* Default style for links */
a {
    padding:6px;
}
a:active { 
    color: #000099;
    text-decoration: none;
    border: 2px solid #FFEEFF;
}
a:visited { 
    color: #008888;
    text-decoration: none;
    border: 2px solid #FFEEFF;
}
a:link { 
    color: #000099;
    text-decoration: none;
    border: 2px solid #FFEEFF;
}
a:hover { 
    color: #0000FF;
    text-decoration: none;
    background-color: white;
    border: 2px solid #FF9BFF;
}


.mainFrame {
    padding: 15px;
    width:1000px;
    margin:auto;
}

.headLine {
    background-image: url('BannerPeak.jpg'); 
    background-repeat: no-repeat;
    height:260px;
    padding:20px;
    margin-bottom:20px;
}
.headLine h1 {
    font-size: 60px;
    font-weight: 200;
    color: white;
    *text-shadow: 0 0 05px lightskyblue;
}

.floater {
    float:left;
    border: solid 1px purple;
    border-radius:10px;
    background-color: white;
    width:300px;
    height:300px;
    padding:0px;
    margin:10px;
    box-shadow: 5px 5px 5px grey;
}

.floater-top {
    padding:10px;
    background-color: purple;
    border-radius:10px 10px 0px 0px;
    color:white;
}

.floater-body {
    padding:10px;
}

.footframe {
    font-size: 20px;
    font-weight: 400;
    color: purple;
    padding: 20px;
    text-align: center;
}
.footLine {
    font-size: 30px;
    font-weight: 200;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 10px;
    margin:20px;
    text-align: center;
}
.footLine a {
    color: purple;
    text-decoration: none;
}

