<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script>
    var bookApp = angular.module('bookApp', []);
    bookApp.factory('bookFactory', function($http) {
        return {
            list: function(callback) {
                $http.get('employees.json').success(callback);
            }
        }
    });
    bookApp.controller('bookCtrl', function ($scope, $http, bookFactory, $rootScope, $location) {
        $scope.people = [];
        $scope.filter = "";
        $scope.previousFilter = "~~~";
        $scope.previousResult = [];
        $scope.rereadData = function() {
            bookFactory.list( function(data) {
                console.log("success function called");
                $scope.people = data;
            });
        }
        $scope.rereadData();
        $scope.filteredList = function() {
            if ($scope.previousFilter == $scope.filter) {
                return $scope.previousResult;
            }
            var filterSet = [];
            var lcFilter = $scope.filter.toLowerCase();
            for (var i=0; i<$scope.people.length; i++) {
                var person = $scope.people[i];
                if (person.first.toLowerCase().contains(lcFilter)) {
                    filterSet.push(person);
                }
                else if (person.last.toLowerCase().contains(lcFilter)) {
                    filterSet.push(person);
                }
                else if (person.email.toLowerCase().contains(lcFilter)) {
                    filterSet.push(person);
                }
            }
            $scope.previousResult = filterSet;
            return filterSet;
        }
    });
    </script>
</head>
<body ng-app="bookApp" ng-controller="bookCtrl">
<h1>Email Addresses</h1>

Filter: <input ng-model="filter">
<br/><br/>
Showing {{filteredList().length > 50 ? "first 50 of " : "all" }} {{filteredList().length}} Results
<br/><br/>


<table class="table table-striped table-bordered table-hover">
<tr ng-repeat="person in filteredList() | limitTo: 50">
   <td>{{person.first}}</td>
   <td>{{person.last}}</td>
   <td>{{person.email}}</td>
   </tr>
</table>

</body>
</html>