<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Article Comments</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/angular.js"></script>
  <script src="js/ui-bootstrap-tpls.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:200,400,700' 
        rel='stylesheet' type='text/css'>
  <link href="css/wustyle.css"           rel="stylesheet" type="text/css"/>
  <link href="css/font-awesome-all.css"  rel="stylesheet" type="text/css"/>
  <script src="js/MarkdownToHtml.js"></script>
  <script src="js/textAngular-sanitize.min.js"></script>

  <script src="js/slap.js"></script>
  <style>
  .fixColumn {
      width:250px;
      border: 1px solid #AA00FF;
  }
  .fixColumnUser {
      width:300px;
      background-color: white;
      border: 1px solid #AA00FF;
  }
  .sectionsplit {
      border-bottom: 1px solid #AA00FF;
      background-color: #5F4170;
      color: white;
  }
  </style>
  <script>
    const urlParams = new URLSearchParams(window.location.search);

    var myApp = angular.module('myApp', ['ui.bootstrap', 'ngSanitize']);
    

    myApp.controller('myCtrl', function ($scope, $http, $modal) {

        $scope.art = urlParams.get('art');
        $scope.discussion = {};
        $scope.allComments = {};
        $scope.userComment = {content:{}};
        $scope.hideUser = {};
        
        SLAP.initLogin({serverUrl: "auth/"}, {}, function() {
            $scope.userId = SLAP.loginInfo.userId;$scope.$apply()
        });
        $scope.userId = SLAP.loginInfo.userId;
        $scope.login = function() {
            SLAP.loginUserRedirect();
        }
        $scope.logout = function() {
            SLAP.logoutUser();
        }
        
        function reportError(data) {
            console.log("ERROR", data);
        }
        $scope.commenters = Object.keys($scope.allComments);

        function getDocument() {
            var getURL = "ds/d="+$scope.art+"/Article";
            $http.get(getURL)
            .then( function(data) {
                    console.log("getDocument RECEIVED", data);
                    $scope.discussion = data.data;
                },
                function(data, status, headers, config) {
                    reportError(data);
                });
        }
        function getComments() {
            var getURL = "ds/d="+$scope.art+"/AllComments";
            $http.get(getURL)
            .then( function(newCmts) {
                    $scope.allComments = newCmts.data;
                    console.log("getComments RECEIVED", newCmts);
                    if ($scope.allComments[$scope.userId]) {
                        $scope.userComment = $scope.allComments[$scope.userId];
                        delete $scope.allComments[$scope.userId];
                    }
                    $scope.commenters = Object.keys($scope.allComments);
                },
                function(data, status, headers, config) {
                    reportError(data);
                });
        }
        getDocument();
        getComments();
        
        $scope.openCommentator = function (row) {

            var modalInstance = $modal.open({
                animation: false,
                templateUrl: "templates/EnterCommentModal.html?t="+new Date().getTime(),
                controller: 'CommentatorCtrl',
                size: 'lg',
                backdrop: "static",
                resolve: {
                    art: function () {
                        return $scope.art;
                    },
                    user: function () {
                        return $scope.userId;
                    },
                    row: function () {
                        return row;
                    },
                    comment: function () {
                        return $scope.userComment;
                    }
                }
            });

            modalInstance.result.then(function (modifiedComment) {
                console.log("User Comment updated to", modifiedComment);
                $scope.userComment = modifiedComment;
            }, function () {
                console.log("CommentatorCtrl was cancelled")
                //cancel action - nothing really to do
            });
        };

        $scope.paraDiscus = function(art) {
            var url = "discuspara.htm?art="+$scope.art;
            window.location.assign(url);
        }
        
        $scope.tableStyle = function() {
            var availableWidth = document.getElementsByTagName('body')[0].clientWidth;
            let width = 304;
            if ($scope.showWide) {
                width += 300;
            }
            $scope.commenters.forEach( function(item) {
                if ($scope.hideUser[item]) {
                    width += 37;
                }
                else {
                    width += 267;
                }
            });
            if ($scope.userId) {
                width=width+317;
            }
            if (width<availableWidth) {
                width = availableWidth;
            }
            var res = {
                "width": width+"px", 
                "max-width": width+"px", 
                "min-width": width+"px",
                "border": "1px solid #AA00FF"
            };
            return res;
        }
        
        $scope.openColumn = function(name) {
            $scope.hideUser[name] = false;
        }
        $scope.closeColumn = function(name) {
            $scope.hideUser[name] = true;
        }
        $scope.setSelectedRow = function(row) {
            $scope.selectedRow = row;
        }
        $scope.numberColumnStyle = function(row) {
            if (row == $scope.selectedRow) {
                return {"width":"30px","border":"1px solid #AA00FF","background-color":"skyblue"};
            }
            return {"width":"30px","border":"1px solid #AA00FF"};
        }
        $scope.userColumnStyle = function(name) {
            if ($scope.hideUser[name]) {
                return {"width":"20px","border":"1px solid #AA00FF"};
            }
            else {
                return {"width":"300px","border":"1px solid #AA00FF","background-color":"#F6F6F6"};
            }
        }
        $scope.mainColumnStyle = function() {
            return {"width":"300px","border":"1px solid #AA00FF","background-color":"white"};
        }
        $scope.readingColumnStyle = function() {
            if ($scope.showWide) {
                return {"width":"600px","border":"1px solid #AA00FF","background-color":"#F0F0F0"};
            }
            else {
                return {"width":"250px","border":"1px solid #AA00FF","background-color":"#F0F0F0"};
            }
        }
        $scope.getHtml = function(i) {
            var row = $scope.userComment.content[i];
            if (!row || !row.txt) {
                return "";
            }
            var t = convertMarkdownToHtml(row.txt);
            return t;
        }
        $scope.getReading = function(obj) {
            var line = obj.txt;
            if (!line) {
                return "";
            }
            var t = convertMarkdownToHtml(line);
            return t;
        }
    });

</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div style="margin:auto">

<div ng-hide="userId"><button ng-click="login()">Login</button> if you want to make comments.   
 To see paragraphs: <button ng-click="paraDiscus()">Paragraphs</button></div>
<div ng-show="userId">Login: {{userId}}  <button ng-click="logout()">Logout</button>
To see paragraphs: <button ng-click="paraDiscus()">Paragraphs</button></div>


<h1><a href="discus.htm"><img src="discus.png" style="width:100px"></a>{{discussion.fullName}}</h1>

<p>{{discussion.description}}</p>

<table class="table" ng-style="tableStyle()">
<tr>
  <th style="width:30px">#</th>
  <th ng-style="readingColumnStyle()">
      <div ng-show="showWide">
          Original <i class="fas fa-backward" ng-click="showWide=false"></i>
      </div>
      <div ng-hide="showWide"> 
          Original <i class="fas fa-forward" ng-click="showWide=true"></i>
      </div>
  </th>
  <th ng-style="mainColumnStyle()" ng-show="userId">{{userId}}</th>
  <th ng-style="userColumnStyle(user)"   ng-repeat="user in commenters">
      <div ng-hide="hideUser[user]">
          {{user}} <i class="fas fa-backward" ng-click="closeColumn(user)"></i> </div>
      <div ng-show="hideUser[user]"> 
          <i class="fas fa-forward" ng-click="openColumn(user)"></i>
      </div>
  </th>
</tr>
<tbody ng-repeat="(row,obj) in discussion.content track by row">
  <tr ng-show="obj.txt.startsWith('!')">
    <td colspan="{{4+commenters.length}}" class="sectionsplit"><h3>{{obj.txt.substring(1)}}</h3></td>
  </tr>
  <tr ng-hide="obj.txt.startsWith('!')">
    <td ng-style="numberColumnStyle(row)" ng-click="setSelectedRow(row)">{{row-9999}}</td>
    <td ng-style="readingColumnStyle()"><span ng-bind-html="getReading(obj)"></span></td>
    <td ng-style="mainColumnStyle()" ng-show="userId"
        ng-dblclick="openCommentator(row)"><span ng-bind-html="getHtml(row)"></span><i class="fas fa-edit" ng-click="openCommentator(row)"></i></td>
    <td ng-style="userColumnStyle(user)"  ng-repeat="user in commenters">
        <span ng-hide="hideUser[user]" ng-bind-html="convertMarkdownToHtml(allComments[user].content[row].txt)"></span>
    </td>
  </tr>
</tbody>
</table>

<hr/>

<pre>{{restext|json}}</pre>

<div style="height:400px"></div>
<div class="footLine">
    <a href="index.htm">Purple Hills Tools</a></div>
</div>
<div style="font-size:small;text-align:center">© 2020, Keith D Swenson</div>

</div>

<script src="templates/EnterCommentModal.js"></script>
</body>
</html>


