<html>
<body>

<div class="modal-header qqTabHeader">
  <div class="qqTabBand">
    <span>
    Comment by {{user}} in {{txt.length}} characters
    </span>

  </div>
</div>

<div class="modal-body">
    <textarea ng-model="txt" class="form-control" style="height:300px"></textarea>
</div>
<div class="modal-footer">
    <div style="float:left;color=red" ng-show="txt.length>480">Keep comment <= 500 characters</div>
    <button class="btn btn-primary btn-raised btn-danger" ng-show="txt.length>500"
        type="button" ng-click="truncate()">Truncate to 500</button>
    <button class="btn btn-primary btn-raised" ng-show="txt.length<=500"
        type="button" ng-click="ok()">Save</button>
    <button class="btn btn-warning btn-raised" type="button" ng-click="cancel()">
        Cancel</button>
</div>
</body>
</html>
